.highlight {
  color: var(--secondary);
}

.wrapper-img {
  background-image: url("./images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25rem;
}

@media (max-width: 1000px) {
  .wrapper-img {
    background-size: contain;
  }
}